.slides .slide-app {
  overflow-y: auto;
}

.slides ul ul {
  list-style-type: square;
}

.slides pre,
.slides img[width] {
  border-radius: var(--radius);
}

.slides a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.slides a::before {
  content: '';
  position: absolute;
  width: 6rem;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: var(--accent);
  transform: scaleX(0.1);
  transform-origin: left;
  transition: transform 0.25s ease;
  pointer-events: none;
}
.slides a:hover::before {
  transform: scaleX(1);
}
