.app {
  flex-grow: 1;
}

.app .actions {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.app .actions select:first-of-type {
  margin-left: 2em;
}

.app .images {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
  margin-block: 1.5em;
}
