.docs ul ul {
  list-style-type: square;
}

/* Code Block */
.docs pre {
  background-color: var(--btn) !important;
}
.docs code {
  font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace !important;
}
