:root {
  --bg: #242424;
  --primary: #ebe5da;
  --secondary: #fc6986;
  --content: #1a1a1a;
  --accent: #646cff;
  --radius: 8px;

  background-color: var(--bg);
  color: var(--primary);
  font-family: 'Fira Code', system-ui, Avenir, Helvetica, Arial;
  font-weight: 400;
  font-size: 24px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
