.image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image canvas {
  object-fit: cover;
  border-radius: 50%;
  outline: 2px dotted var(--secondary);
  transition: border-radius 0.5s ease-out, width 0.5s ease-out 0.25s;
}
.image.done canvas {
  border-radius: 4px;
}

.image .loading {
  position: absolute;
  width: 2em;
  transition: opacity 0.25s ease-out;
}
.image.done .loading {
  opacity: 0;
}
